@font-face
{
    font-family: 'webfont';

    src: url('../font/webfont.eot'); /* IE9*/
    src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
body,
html
{
    height: 100%;
}

.web-font
{
    font-family: 'webfont' !important;
    font-size: 16px;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.header
{
    z-index: 10;

    width: 100%;
    min-width: 890px;
    height: 80px;

    background-color: #333;
}
.header .logo
{
    display: inline-block;

    width: 200px;
    height: 40px;
    margin: 20px 20px 20px;

    text-align: center;

    border: 1px solid  #ff9400;
}
.header .loginbar
{
    line-height: 40px;

    display: inline-block;
    float: right;

    width: 200px;
    height: 40px;
    margin: 20px 40px 20px;

    text-align: center;

    color: #ccc;
    /*background-color: #4ac0ff;*/
}
.loginbar a
{
    color: #ccc;
}
.header .loginbar:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '';
}
.loginbar span
{
    margin: 0 5px ;
}

.body
{
    width: 100%;
    height: 100%;
}
.sidebar
{
    display: inline-block;
    float: left;

    width: 230px;
    height: 100%;

    color: #ccc;
    background-color: #333;
}
.sidebar .info
{
    padding-top: 10%;

    text-align: center;
}
.sidebar .info .userTx
{
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;

    border-radius: 50%;
    background-color: #ff9400;
}
.lists
{
    margin-top: 20px;
}
.lists .list
{
    line-height: 40px;

    position: relative;

    display: inline-box;

    width: 100%;
    height: 40px;
    padding: 6px 0;

    transition: all .1s ease-in;
    text-align: center;
}
/*悬停*/
.list:hover
{
    background-color: #ff9400;
}
.list:hover .list-title
{
    color: white;
}
/*选中*/
.onlist
{
    background-color: #ff9400;
}
.onlist .list-title
{
    color: white;
}
.list-icon
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-right: 20px;

    vertical-align: top;
}
.list-icon-1
{
    background: url(../img/未读.png) 0 0 no-repeat;
    background-size: cover;
}
.list-icon-2
{
    background: url(../img/已读.png) 0 0 no-repeat;
    background-size: cover;
}
.list-icon-3
{
    background: url(../img/意见.png) 0 0 no-repeat;
    background-size: cover;
}

.list-title
{
    margin-bottom: 15px;

    vertical-align: top;

    color: #ccc;
}
.content
{
    width: 78%;
    min-width: 600px;
    height: 78%;
    /*margin: 20px 50px */
    /*margin-top: 20px;*/
    margin-right: 50px;
    padding-top: 20px;
    padding-left: 270px;
}
.footer-spacer
{
    height: 40px;
}
.footer
{
    font-size: 14px;

    z-index: 1;

    width: 100%;
    min-width: 890px;
    height: 40px;
    margin-top: -40px;

    text-align: center;

    color: #ccc;
}
.footer a
{
    color: #ccc;
}
.footer span
{
    margin: 0 10px;
}
.footer .body
{
    margin: auto;
}
.clear
{
    clear: both;
}
/*未读消息数量*/
.unnum
{
    font-size: 12px;
    line-height: 25px;

    position: absolute;
    top: 5px;
    right: 30px;

    display: inline-block;

    width: 25px;
    height: 25px;

    text-align: center;

    color: white;
    border-radius: 50%;
    background-color: #e20000;
}

.tag
{
    line-height: 30px;

    display: inline-block;

    width: 70px;
    height: 30px;

    text-align: center;

    color: white;
    border-radius: 10px;
}
/*安全通报*/
.tag-safe
{
    background-color: rgb(36,137,197);
}
/*教务*/
.tag-edu
{
    background-color: rgb(43,150,70);
}
/*学生社团*/
.tag-club
{
    background-color: #ff9800;
}
/*学生处公告*/
.tag-stu
{
    background-color: rgb(211,84,70);
}
